# fly.toml app configuration file generated for cube-solver-backend on 2023-10-30T02:38:42-07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "cube-solver-backend"
primary_region = "lax"

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]
